# -----------------------------
# OS / Editor
# -----------------------------
.DS_Store
Thumbs.db

.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

.idea/
*.swp
*.swo

# -----------------------------
# Logs / Env
# -----------------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

# -----------------------------
# React / Node (client)
# -----------------------------
client/node_modules/
client/build/
client/.cache/
client/.eslintcache
client/coverage/

# -----------------------------
# .NET / C# (server)
# -----------------------------
server/bin/
server/obj/

*.user
*.rsuser
*.suo

# Test results / coverage
TestResults/
*.trx
coverage/
coverage.cobertura.xml

# NuGet
*.nupkg
*.snupkg
packages/

# Local tooling caches
.vs/

#eod-desktop-app
eod-desktop-app/__pycache__/
eod-desktop-app/dist/
eod-desktop-app/build/
eod-desktop-app/.env
eod-desktop-app/.env.*
eod-desktop-app/..*
eod-desktop-app/.venv/
eod-desktop-app/.venv*
eod-desktop-app/generated-invoices/
PITC-VA-Mailer.app/*.*
PITC-VA-Mailer.app/
PITC-mailer/
PITC-mailer/*.*

# modern-mailer
modern-mailer/dist/
modern-mailer/build/
modern-mailer/.env
modern-mailer/.env.*
modern-mailer/..*
modern-mailer/.venv/
modern-mailer/.venv*
modern-mailer/generated-invoices/
modern-mailer__pycache__/
.venv/
